
html, body, #root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;

font-family: 'Times New Roman', Times, serif;}


body.light {
  background-color: #ffffff;
}




/* Make React root follow body */
body.dark #root {
  background: linear-gradient(0deg, #05070a, #160f0f);
}

/* Dark navbar */
.dark .navbar {
  background-color: #000 !important;
}

/* Buttons in dark mode */
.dark button {
  border: 1px solid white;
}

.auth-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */

  background-size: cover;      /* full screen cover */
  background-position: center; /* center image */
  background-repeat: no-repeat; /* NO repeat */
}



body.light .login-page,
body.light .register-page {
  background-image: url("../src/assets/light.jpg");
}


body.dark .login-page,
body.dark .register-page {
  background-image: url("../src/assets/dark.jpg");
}


.login-card,
.register-card {
  width: 420px;
  padding: 24px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  background: rgba(255, 255, 255, 0.7);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


body.dark .login-card,
body.dark .register-card {
  background: rgba(0, 0, 0, 0.6);  
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6); 
  box-shadow: 0 10px 40px rgba(255, 255, 255, 0.1);
}


body.light .login-card input,
body.light .register-card input,
body.light .register-card select {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  border: 1px solid black;
}

body.dark .login-card input,
body.dark .register-card input,
body.dark .register-card select {
  background: rgba(30, 30, 30, 0.9);
  color: white;
  border: 1px solid white;
}
body.dark .already-btn {
  color: white;
  text-decoration: none !important; 
  border: none;                     
  outline: none;                   
  background: transparent;         
}
body.dark .already-btn:hover,
body.dark .already-btn:focus {
  text-decoration: none;
  outline: none;
}

body.light .already-btn {
  color: rgb(11, 9, 9);
  text-decoration: none !important;
  border: none;                    
  outline: none;                   
  background: transparent;         
}
body.light .already-btn:hover,
body.light .already-btn:focus {
  text-decoration: none;
  outline: none;
}




 .oval-btn- {
  width: auto;
  padding: 10px 30px;
  border-radius: 90px;
}



body.light .theme-btn,
body.light .auth-btn {
  border: 2px solid black !important;
  color: black !important;
}


body.light .theme-btn:hover,
body.light .auth-btn:hover {
  border-color: grey !important;
  color: grey !important;
}


body.dark .theme-btn,
body.dark .auth-btn {
  border: 2px solid white !important;
  color: white !important;
}


/* body.dark .theme-btn:hover,
body.dark .auth-btn:hover {
  border-color: lightgrey !important;
  color: lightgrey !important;
} */




.admin-sub-card {
  border: 2px solid #000 !important;  
  width: 100%;                         
  max-width: 380px;                   
}


body.dark .admin-sub-card {
  border: 2px solid #ffffff !important;
}


.admin-sub-card {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}
body.dark .admin-sub-card {
  box-shadow: 0 6px 18px rgba(255, 255, 255, 0.15);
}


.view-plans-float {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  width: 80px;
  height: 80px;
  border-radius: 50%; 

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #de9312;
  color: rgb(10, 10, 10);
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;

  box-shadow: 0 0 15px #f0a10d, 0 0 30px #f0a10d, 0 0 45px #f0a10d; 
  z-index: 999;
  transition: all 0.3s ease;
}

.view-plans-float:hover {
  background: #b7860b;
  transform: translateY(-50%) scale(1.08);
   box-shadow: 0 0 15px #f0a10d, 0 0 30px #f0a10d, 0 0 45px #f0a10d;
}


body.dark .view-plans-float {
  background: #f0a10d;
  color: black;
  box-shadow: 0 0 15px #f0a10d, 0 0 30px #f0a10d, 0 0 45px #f0a10d; 
}
